.choose-page {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: calc(0.1 * var(--aw));
}

.choice {
  text-align: center;
  font-size: calc(0.1 * var(--aw));
  border-radius: 100%;
  width: calc(0.5 * var(--aw));
  height: calc(0.5 * var(--aw));
  border: 5px solid transparent;
  align-self: center;
  user-select: none;
  cursor: pointer;
  display: flex;
  place-items: center;
  place-content: center;
}

.choice.selected.😍 {
  border: 5px solid #d73253;
}

.choice.selected {
  border: 5px solid #7c46c4;
}

button.😍 {
  background: #d73253;
}
